.lg-button {
	width: 100%;
	font-size: $l-size - 0.8rem;
	font-weight: bold;
	color: white;
	background-color: $purple;
	border: none;
	margin-bottom: $m-size;
	padding: 2.4rem;
	border-bottom: 0.6rem solid darken($purple, 10%);
	&:disabled {
		opacity: 0.6;
	}
	@include desktop {
		font-size: $l-size;
		margin-bottom: $xl-size;
	}
}

.sm-button {
	font-weight: 500;
	color: white;
	background: $purple;
	border: none;
	border-bottom: 0.3rem solid darken($purple, 10%);
	padding: $s-size;
}

.sm-button--link {
	color: $off-white;
	background: none;
	border: none;
	padding: 0;
}