// Colors

$off-black: #20222b;
$off-white: #a5afd7;
$dark-gray: #333745;
$gray: #3c4251;
$light-gray: #464b5e;
$purple: #8357c5;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// Breakpoints
$bp-desktop: 45rem;

// Mixins
@mixin desktop {
	@media (min-width: #{$bp-desktop}) {
		@content;
	}
}